name: MyWallet CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore MyWallet.API.sln

    - name: Build
      run: dotnet build MyWallet.API.sln --configuration ${{ matrix.configuration }} --no-restore

    - name: Publish
      run: dotnet publish backend/MyWallet.API.csproj --configuration ${{ matrix.configuration }} --no-build --output ./publish

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mywallet-api-${{ matrix.configuration }}
        path: ./publish
